Flask
Flask-SQLAlchemy
Flask-Cors
SQLAlchemy
PyMySQL
pandas
numpy
ortools
google-generativeai
supabase
postgrest
httpx
httpcore
python-dotenv
requests
beautifulsoup4
uuid
markdown
boto3
botocore
pytest
haversine
scikit-learn
gunicorn
